/* font url imported here */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&family=Merriweather:wght@400;700;900&display=swap");
/* font url close */

/* font family is here */
/*
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
*/
/* .................................................... */
/* common code start here */

/* common code end here */
/* ..................................................... */
/* header part start here */
header {
    margin: 50px 140px 100px;
}

.header {
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(7, 2, 17, 0.7), rgba(7, 2, 17, 0)), url("../image/Banner-img.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
    color: white;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.header h3 {
    font-size: 32px;
    font-weight: 400;
    padding: 140px 180px 0;
}

.header h2 {
    font-size: 72px;
    font-weight: 900;
    margin: 0 150px;
}

/* header part end here */
/* ..................................................... */
/* main part start here */
main {
    margin: 0 140px 100px;
}

main section {
    margin: 70px 0 30px;
}

/* Discount section start here */
.discount-section {
    padding: 20px 150px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.discount-section h1 {
    color: #F00;
    font-size: 80px;
    font-weight: bold;
    margin: 0;
}

.discount-section p {
    margin: 40px 0 15px;
    font-size: 20px;
    font-weight: 500;
    color: #F00;
}

.discount-section h2 {
    color: #070211;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 40px;
}

.discount-section img {
    width: auto;
}

/* Discount section end here */


/* party section start here */
.party-section {
    height: 75vh;
    width: 100%;
    background-image: linear-gradient(90deg, rgba(7, 2, 17, 0.9), rgba(7, 2, 17, 0)), url("../image/banner-img-2.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
    display: flex;
    color: #fff;
}

.party-section .party-text {
    margin: 100px 0 0px 100px;
    width: 50%;
}

.party-text h2 {
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: bolder;
    letter-spacing: 7px;
    margin: 0;
}

.party-text p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 17px;
    font-family: 'Inter', sans-serif;
}

.party-text button {
    font-family: 'Inter', sans-serif;
    margin: 7px 0 0 15px;
    border: 0;
    background-color: transparent;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.party-text button:active {
    background-color: rgb(96, 80, 80);
    border-radius: 10px;
}


.party-section .party-img {
    margin: 60px 20px 0 50px;
}

.party-img img {
    width: 270px;
}

/* party section end here */


/* main part end here */
/* .................................................... */
/* footer part start here */

/* footer part end here */
/* .................................................... */