/* font url imported here */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&family=Merriweather:wght@400;700;900&display=swap");
/* font url close */

/* font family is here */
/*
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
*/
/* .................................................... */
/* common code start here */
.bg-banner {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
    color: #fff;
}

.color-text {
    font-family: 'Inter', sans-serif;
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
    margin: 0;
}

.red-text {
    color: red;
    font-family: 'Inter', sans-serif;

}

/* common code end here */
/* ..................................................... */
/* header part start here */
header {
    margin: 50px 140px 100px;
}

.header {
    height: 80vh;
    background-image: linear-gradient(rgba(7, 2, 17, 0.7), rgba(7, 2, 17, 0)), url("../image/Banner-img.png");
    font-family: 'Merriweather', serif;
    text-align: center;
}

.header h3 {
    font-size: 32px;
    font-weight: 400;
    padding: 140px 180px 0;
}

.header h2 {
    font-size: 72px;
    font-weight: 900;
    margin: 0 150px;
}

/* header part end here */
/* ..................................................... */
/* main part start here */
main {
    margin: 0 140px 100px;
}

main section {
    margin: 70px 0 30px;
}

/* Discount section start here */
.discount-section {
    padding: 20px 150px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.discount-section h1 {
    color: #F00;
    font-size: 80px;
    font-weight: bold;
    margin: 0;
}

.discount-section p {
    margin: 40px 0 15px;
    font-size: 20px;
    font-weight: 500;
    color: #F00;
}

.discount-section h2 {
    color: #070211;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 40px;
}

.discount-section img {
    width: auto;
}

/* Discount section end here */


/* party section start here */
.party-section {
    height: 75vh;
    background-image: linear-gradient(90deg, rgba(7, 2, 17, 0.9), rgba(7, 2, 17, 0)), url("../image/banner-img-2.png");
    margin-left: 30px;
    display: flex;
}

.party-section .party-text {
    margin: 100px 0 0px 100px;
    width: 50%;
}

.party-text h2 {
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: bolder;
    letter-spacing: 7px;
    margin: 0;
}

.party-text p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 17px;
    font-family: 'Inter', sans-serif;
}

.party-text p .aqua-text {
    color: aqua;
    font-weight: bold;
}

.party-text button {
    font-family: 'Inter', sans-serif;
    margin: 7px 0 0 15px;
    border: 0;
    background-color: transparent;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.party-text button:active {
    background-color: rgb(96, 80, 80);
    border-radius: 10px;
}


.party-section .party-img {
    margin: 60px 20px 0 50px;
}

.party-img img {
    width: 270px;
}

/* party section end here */

/* date and time section start here */
.date-time-sec {
    height: 15vh;
    background: linear-gradient(rgba(250, 190, 194, 0.7), rgba(7, 2, 17, 0));
    padding: 100px 0;
    text-align: center;
}

.date-time-sec h3 {
    color: #070211;
    font-size: 25px;
    font-weight: 600;
    margin: 20px;
    font-family: 'Inter', sans-serif;

}

.date-time-sec button {
    margin-top: 20px;
    padding: 10px 20px;
    background: red;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.date-time-sec button:active {
    color: aqua;
}

/* date and time section end here */

/* new best offer section start here */
.new-offer-sec {
    margin-top: 150px;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.offer {
    margin-top: 70px;
    width: 400px;
}

.offer .best-offer {
    font-size: 24px;
    font-weight: 500;
    color: red;
    margin: 0;
}

.offer h2 {
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: bold;
    margin: 10px 0;
}

.new-offer-sec .img-div {
    height: 370px;
    width: 370px;
    border: 15px solid red;
    border-radius: 50%;
    text-align: center;
}

.img-div img {
    width: 320px;
    margin: 25px 0;
}

.new-offer-sec .new-year {
    width: 300px;
    margin-top: 50px;
}

.new-year .year {
    font-size: 48px;
    font-weight: bold;
    color: red;
    margin: 0 0 10px;
}

.new-year img {
    margin-top: 40px;
}

/* new best offer section end here */

/* holiday sale section start here */
.holiday-sale-sec {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.holiday-sale-sec .header-para {
    font-size: 24px;
    font-weight: 500;
}

.holiday-sale-sec .heading-1 {
    font-family: "Merriweather", sans-serif;
    font-size: 65px;
    font-weight: bold;

}

.holiday-img {
    margin-top: 50px;
    position: relative;
}

.holiday-img :nth-child(1) {
    float: right;
}

.holiday-img :nth-child(2) {
    position: relative;
    top: 75px;
    left: 395px;
}

.holiday-bg-img {
    margin-top: 123px;
    height: 300px;
    width: 100%;
    background-image: url('../image/holiday-3.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.holiday-bg-img img {
    width: 500px;
    position: relative;
    right: 610px;
    bottom: 270px;
}

/* holiday sale section end here */

/* portfolio section start here */
.portfolio-text .red-text {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.portfolio-text h2 {
    font-family: "Merriweather", sans-serif;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.portfolio-img {
    margin-top: 30px;
}

.portfolio-img img {
    width: 370px;
    margin: 12px 12px;
    transition: all ease .2s;
}

.portfolio-img img:hover {
    border-radius: 20px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

/* holiday sale section end here */

/* mail section start here */
.mail-section {
    background-color: rgba(250, 190, 194, 0.4);
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}


.mail-section h2 {
    font-family: "Merriweather", sans-serif;
    font-size: 50px;
    font-weight: bolder;
    margin: 15px 0 0;
}

.mail-section .color-text {
    margin: 10px 200px 50px;
}

.mail-section input {
    width: 300px;
    height: 30px;
    padding: 10px;
    border: 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-right: 0;
}

.mail-section button {
    width: 120px;
    height: 50px;
    background-color: red;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border: 0;
    border-top: 3px solid red;
    border-bottom: 5px solid red;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-left: 0;
}

/* mail section end here */
/* main part end here */
/* .................................................... */
/* footer part start here */
.footer {
    background-color: #070211;
    padding: 120px 140px;
}
hr{
    border: .5px solid rgba(255, 255, 255, 0.15);
}
.address-div, .right-div{
    display: flex;
    justify-content: space-between;
}
.left-side{
    width: 300px;
}
.footer p {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
}
.right-side p{
    margin-right: 150px;
}
.footer .icon-div{
    text-align: center;
    margin: 10px;
}
.footer .icon-div img{
    margin: 10px;
}
/* footer part end here */
/* .................................................... */